.container.home
  .row
    .col-md-12
      %h1 COOL STUFF AND PEOPLE
  .row
    .col-md-12
      %h2 About Tuesday
  .row
    .col-md-3
    .col-md-6
      %p Tuesday is a deployment service that makes deploying Ruby apps to DigitalOcean quick, simple, and with straight-forward minimalist configuration. Tuesday works with Rails and other Rack-based apps, and automatically configures itself to your stack. Make your production work for your deployment, not the other way around. And for dessert, enjoy simple subdomain configuration with equally simple ease.
      %p Tuesday was developed during HackNY Fall 2014, and is in continual development. Bug reports are loved, and use is ultimately at your own risk!     
    .col-md-3
  .row
    .col-md-6
      .row
        .col-md-12
          %h2 Max Rogers
      .row
        .col-md-12
          %img.img-circle.resize{:src=>"/img/max.jpeg"}
      .row
        .col-md-12
          %h5
            %a{:href=>"http://merogers.me"} Website
            <span class="glyphicon glyphicon-star"></span>
            %a{:href=>"https://github.com/honeycodedbear"} GitHub
            <span class="glyphicon glyphicon-star"></span>
            %a{:href=>"mailto:maxrogers90@gmail.com"} Email
      .row
        .col-md-12
          %p Web Wizard, Mobile Master and MLH Coach Max Rogers is one of the brightest stars to arise from Stony Brook(Fall 2014). A mentor of underclassman and community organizer he has been hands on almost every major event to take place within the Stony Brook Computing Society. Developing the <a href="http://www.unhackathon.org">Unhackathon Website</a>, leading Midterm Reviews and founding Mobile App Developers. Max is never far from the action (as long as there is code to write and snacks to eat).
          %p #ruby_is_love #ruby_is_life

    .col-md-6
      .row
        .col-md-12
          %h2 Yves DeSousa
      .row
        .col-md-12
          %img.img-circle.resize{:src=>"/img/yves.jpeg"}
      .row
        .col-md-12
          %h5
            %a{:href=>"http://yvds.net"} Website
            <span class="glyphicon glyphicon-star"></span>
            %a{:href=>"https://github.com/yvds"} GitHub
            <span class="glyphicon glyphicon-star"></span>
            %a{:href=>"mailto:yvonne@yvds.net"} Email
        .row
          .col-md-12
            %p Yves is student at Stony Brook University (class of Fall 2014), full-stack web developer, and prophet of the divine feline CAT GOD. They have achieved many great honors, including surviving TA'ing two semesters of advanced software development courses, making their current employer's website's loading icons obsolete and unneeded, and being featured in <a href="http://www.entrepreneur.com/article/237785">Entrepreneur.com</a>. (They were the student "rocking a cat suit".)
            %p #praisecatgod
