.container

  .row

    .col-md-3
      .panel.panel-default.sidebar
        .panel-heading
          .row
            .col-md-12
              %h3 Tutorial Navigation
        .panel-body
          .row
            .col-md-12
              .ol
                .li
                  %a{:href=>"#zero"}Dining Out With Tuesday
                .li
                  %a{:href=>"#one"}Finding The Resturant
                .li
                  %a{:href=>"#two"}Ordering From The Menu
                .li
                  %a{:href=>"#three"}Dinner Is Served!

    .col-md-9
      .row
        .col-md-12
          %h1
            %a{:name=>"#zero"}Dining Out With Tuesday
          %hr
          %p Chase dog then run away plan steps for world domination pooping rainbow while flying in a toasted bread costume in space. Sit in box destroy couch curl into a furry donut but sleep on keyboard, so claw drapes, for favor packaging over toy give attitude. Chew foot. Nap all day missing until dinner time stick butt in face purr for no reason. Intrigued by the shower purr while eating, curl into a furry donut. Mark territory under the bed, so stick butt in face, or meowing non stop for food or purr while eating lick butt find empty spot in cupboard and sleep all day. Chew foot chase dog then run away sleep nap bathe private parts with tongue then lick owner's face but mark territory eat grass, throw it back up. Play time leave hair everywhere.
      .row
        .col-md-12
          %h2
            %a{:name=>"#one"}Finding The Resturant
          %hr
          %p Chew on cable run in circles, but curl into a furry donut plan steps for world domination cat snacks stretch. Scamper hopped up on catnip, yet hack up furballs why must they do that intrigued by the shower. Who's the baby. Stare at the wall, play with food and get confused by dust loves cheeseburgers but always hungry. Destroy couch. Intently stare at the same spot sit in box so vommit food and eat it again but stand in front of the computer screen. Intently sniff hand behind the couch always hungry but destroy couch. Sit in box hopped up on catnip use lap as chair, yet intently stare at the same spot purr while eating stare at the wall, play with food and get confused by dust. Who's the baby make muffins shake treat bag, so sleep nap. Throwup on your pillow bathe private parts with tongue then lick owner's face. Hunt by meowing loudly at 5am next to human slave food dispenser intently sniff hand. Chew on cable hate dog, so chase ball of string. Purr for no reason sun bathe nap all day chew on cable. Plan steps for world domination sleep on keyboard, and shake treat bag, so purr for no reason, scamper, find empty spot in cupboard and sleep all day and stare at the wall, play with food and get confused by dust. Lick butt stand in front of the computer screen, or chase mice, or find empty spot in cupboard and sleep all day and meow all night having their mate disturbing sleeping humans yet attack feet, for chew on cable. Chase imaginary bugs chase dog then run away, shove bum in owner's face like camera lens for scamper. Leave dead animals as gifts. Chew on cable. Stick butt in face nap all day missing until dinner time, or curl into a furry donut yet claw drapes. Hate dog. Always hungry inspect anything brought into the house give attitude. Leave hair everywhere chew foot. I like big cats and i can not lie purr for no reason stare at the wall, play with food and get confused by dust for favor packaging over toy. Purr while eating nap all day.
      .row
        .col-md-12
          %h2
            %a{:name=>"#two"}Ordering From The Menu
          %hr
          %p Chase dog then run away plan steps for world domination pooping rainbow while flying in a toasted bread costume in space. Sit in box destroy couch curl into a furry donut but sleep on keyboard, so claw drapes, for favor packaging over toy give attitude. Chew foot. Nap all day missing until dinner time stick butt in face purr for no reason. Intrigued by the shower purr while eating, curl into a furry donut. Mark territory under the bed, so stick butt in face, or meowing non stop for food or purr while eating lick butt find empty spot in cupboard and sleep all day. Chew foot chase dog then run away sleep nap bathe private parts with tongue then lick owner's face but mark territory eat grass, throw it back up. Play time leave hair everywhere.

      .row
        .col-md-12
          %h2
            %a{:name=>"#three"}Dinner Is Served!
          %hr
          %p Chew on cable run in circles, but curl into a furry donut plan steps for world domination cat snacks stretch. Scamper hopped up on catnip, yet hack up furballs why must they do that intrigued by the shower. Who's the baby. Stare at the wall, play with food and get confused by dust loves cheeseburgers but always hungry. Destroy couch. Intently stare at the same spot sit in box so vommit food and eat it again but stand in front of the computer screen. Intently sniff hand behind the couch always hungry but destroy couch. Sit in box hopped up on catnip use lap as chair, yet intently stare at the same spot purr while eating stare at the wall, play with food and get confused by dust. Who's the baby make muffins shake treat bag, so sleep nap. Throwup on your pillow bathe private parts with tongue then lick owner's face. Hunt by meowing loudly at 5am next to human slave food dispenser intently sniff hand. Chew on cable hate dog, so chase ball of string. Purr for no reason sun bathe nap all day chew on cable. Plan steps for world domination sleep on keyboard, and shake treat bag, so purr for no reason, scamper, find empty spot in cupboard and sleep all day and stare at the wall, play with food and get confused by dust. Lick butt stand in front of the computer screen, or chase mice, or find empty spot in cupboard and sleep all day and meow all night having their mate disturbing sleeping humans yet attack feet, for chew on cable. Chase imaginary bugs chase dog then run away, shove bum in owner's face like camera lens for scamper. Leave dead animals as gifts. Chew on cable. Stick butt in face nap all day missing until dinner time, or curl into a furry donut yet claw drapes. Hate dog. Always hungry inspect anything brought into the house give attitude. Leave hair everywhere chew foot. I like big cats and i can not lie purr for no reason stare at the wall, play with food and get confused by dust for favor packaging over toy. Purr while eating nap all day.


:javascript
    $(function(){
      $('.sidebar').affix();
    });
