.container

  .row

    .col-md-3
      .panel.panel-default.sidebar
        .panel-heading
          .row
            .col-md-12
              %h3 Tutorial Navigation
        .panel-body
          .row
            .col-md-12
              .ol
                .li
                  %a{:href=>"#zero"}What is Tuesday
                .li
                  %a{:href=>"#one"}Using Tuesday
                .li
                  %a{:href=>"#two"}Reset Tuesday
                .li
                  %a{:href=>"#three"}Future Plans

    .col-md-9
      .row
        .col-md-12
          %h1
            %a{:name=>"#zero"}What is Tuesday
          %hr
          %p Tuesday is the a single CLI command server configuration platform. Recognizing your technology and configuration we try to adjust our proxys. Unlike Heroku and Dokku we don't believe in forcing developers into using our supported technologies in our configuration. We want you to use what you want to.
      .row
        .col-md-12
          %h2
            %a{:name=>"#one"}Using Tuesday
          %hr
          %p Rails, Sinatra and other Rack apps are all currently supported. With a single command Tuesay will create a new unicorn socket just for your application and configure it with our load balancer(Nginx). Allowing you, the developer, to not have to worry about a thing. On your server clone your git repo,  cd into it and then run tuesdays. In less than 5 seconds your server will be up and running with the rest. Note the subdomain for your application is the same name as the folder you are in.
          .panel.panel-default
            .panel-body
              %code
                if you are in folder /var/www
                %br
                and then you git clone your repo
                %br
                %br
                $ git clone https://github.com/your_name/your_awesome_project.git
                %br
                $ cd your_awesome_project
                %br
                $ echo domain: 'your.domain' >> Menufile
                %br
                $ tuesday
                %br
                %br
                The application will be hosted at http://your_awesome_project.your.domain
          %p Menufile is used for static variables that Tuesday can't determine from your application like what domain_name this web app should we on.

      .row
        .col-md-12
          %h2
            %a{:name=>"#two"}Reset Tuesday
          %hr
          %p Occasionally you will find your servers are overwelling or you need to shut them down. You can accomplish this using
          .panel.panel-default
            .panel-body
              %code
                $ tuesday
          %p this will reset your server and all other servers Tuesday already knows about
          %p if you wish to kill all of the servers and have Tuesday remove them use Reset mode
          .panel.panel-default
            .panel-body
              %code
                $ tuesday reset
          %p tuesday will go through and make sure to remove any trace of its web servers from your host
      .row
        .col-md-12
          %h2
            %a{:name=>"#three"}Future Plans
          %hr
          %p We have a lot of ideas for the future of Tuesday. After adding Rails support the next thing was to devise a way to add webservers besides Unicorn. Puma is a high next priority. In addition, we have discovered a way to host NodeJS sites with Tuesday. The method works but we haven't fix the script to fully support it yet. Also in the future we hope to add Database recognition so we can automatically install database for your application.


:javascript
    $(function(){
      $('.sidebar').affix();
    });
