.container.home
  .row
    .col-md-12
      %h1 Tuesday.rb
  .row
    .col-md-12
      %h2 Fast Casual DigitalOcean Rack Deployment
  .row
    .col-md-3
    .col-md-6
      .panel.panel-default
        .panel-body
          %code
            git clone https://github.com/you/your_cool_project.git
          %br
          %code
            tuesday
    .col-md-3
  .row
    .col-md-12
      %h4 Goodbye messy configuration.
      %h3 Hello, Ruby Tuesday!
